.row
  .col-sm-3
    .navmenu.shadow-sm
      .navmenu-header
        .fas.fa-bars
        Categories
      -@categories.each do |category|
        =link_to category_path(category) do
          .navmenu-item
            =category.name
  .col-sm-9
    .page_head
      All Items
    .items-list
      .row
        -@items.each do |item|
          .col-sm-4
            .item.shadow-sm
              .item-header
                =item.name
              .item-photo
                .fas.fa-images
                No image
              .item-price
                ="$#{item.price}"
              =link_to orders_path(item_id: item.id), method: 'POST' do
                .item-button
                  .fas.fa-cart-plus
                  Add to Cart