- title(@item.name)

.row
  .col-6
    %h4= @category.name
  .col-6.text-right
    = link_to t('admin.item.actions.edit'), edit_admin_category_item_path(@category, @item), class: 'btn btn-primary'
    = link_to t('shared.actions.back'), admin_category_items_path(@category), class: 'btn btn-light'
%hr

= render partial: 'partials/item_show', locals: { item: @item }
