.modal.fade{ id: "#{type}-modal",
             aria: { hidden: true },
             role: 'dialog',
             tabindex: -1 }
  .modal-dialog{ class: "modal-#{size}" }
    - if body
      .modal-content.modal-body
        .text-right
          %a.cursor{ data: { dismiss: 'modal' } }×
        = captured
    - else
      .modal-content
        = captured
