default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: user_name
  password:

development:
  <<: *default
  database: markt_dev

test:
  <<: *default
  database: markt_test

production:
  <<: *default
  database: markt_prod
