- title(t('admin.category.titles.index'))

.row
  .col-8
    .input-group.mt-3
      %input.form-control.admin-searchbar.category-searchbar{ type: 'search', placeholder: t('shared.navbar.search') }
      .search-icon
        %i.fas.fa-search
  .col-4.text-right
    .d-md-none
      = link_to new_admin_category_path, class: 'btn btn-success mb-3 mt-3' do
        .fas.fa-plus
    .d-none.d-md-block
      = link_to new_admin_category_path, class: 'btn btn-success mb-3 mt-3' do
        = t('admin.category.actions.add')
        .fas.fa-plus
%hr

#accordion-categories
  = render partial: 'categories', locals: { categories: @categories }
