.row
  .col-sm-12
    .bg-secondary.text-white
      = t('admin.category.titles.index')
      .fas.fa-angle-double-right
      = t('admin.category.titles.new')

= render partial: 'form', locals: { url: admin_categories_path }
