.auth-form {
  margin-top: 40px;
  padding: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: $white-color;
  color: #666666;

  .form-group {
    input {
      background-color: #fafafa;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid $orange-color;
      color: $orange-color;
    }
  }

  .auth-btn-primary {
    @extend .btn-primary-markt;
  }
}
