.bd-footer {
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid $orange-color;
  font-family: 'Oswald', sans-serif;
  background-color: $white-color;
  position: absolute;
  bottom: 0;
  width: 100%;
}
