html {
  background-color: #EFEFEF !important;
}

body {
  background-color: #EFEFEF !important;
}

.page_head {
  color: #666666;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #CCCCCC;
}

a:hover {
  text-decoration:none !important;
}