.general {
  .navbar {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #fc7121;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);

    .searchbar {
      width: 100%;
      height: 40px;
      line-height: 40px;
      color: #fc7121;
      background-color: #fbfbfb;
      border-radius: 20px 20px 20px 20px;
      -moz-border-radius: 20px 20px 20px 20px;
      -webkit-border-radius: 20px 20px 20px 20px;
      border: 1px solid #fc7121;
      position: relative;
      padding: 10px;
      font-family: 'Oswald', sans-serif;
      font-weight: 200;

      &:hover {
        background: rgba(255, 255, 255, 1.0);
      }

      &:focus {
        outline: none !important;
        box-shadow: 0 0 10px #fc7121;
      }

    }

    .search-icon {
      color: #fc7121;
      right: 25px;
      bottom: 8px;
      position: absolute;
    }

    a {
      padding: 5px;
      color: #fc7121;
      text-decoration: none;
      &:hover {
        color: #ee6233;
      }
    }

    .dropdown-menu {
      a {
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        text-decoration: none;
        color: #fc7121;
      }
    }

    .user-tools {
      float: right;
      display: inline-block;
    }
  }
}

.navmenu {

  //font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;

  margin: 10px;
  background-color: #FFFFFF;
  min-height: 300px;

  .navmenu-header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #fc7121;
    color: #fc7121;
  }


  text-decoration: none;


  .navmenu-item {
    //background-color: #EFEFEF;
    width: 100%;
    padding: 10px;
    color: #999999;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;

    &:hover {
      background-color: #FDFCFA;
    }
  }
}

