.col-sm-12
  .page_head= @category_name
  .items-list
    - if @items.present?
      .row
        - @items.each do |item|
          .col-sm-4
            .item
              .item-header= item.name
              .item-photo
                .fas.fa-images
                No image
              .item-price $#{item.price}
              = link_to orders_path(item_id: item.id), method: 'POST' do
                .item-button
                  .fas.fa-cart-plus
                  Add to Cart
    - else
      %center
        .notice-info
          .fas.fa-exclamation-circle
          No items found on this category
