.col-sm-12
  .page_head= @category.name
  .items-list{ data: { category: { id: @category.id } } }
    - if @items.present?
      = render partial: 'partials/items', locals: { items: @items }
    - else
      %center
        .notice-info
          .fas.fa-exclamation-circle
          = t('category.messages.no_items')
