.content
  .row
    .col-sm-3
      .navmenu
        .navmenu-header
          .fas.fa-bars
          Categories
        =link_to root_path do
          .navmenu-item
            All Items
        -@categories.each do |category|
          =link_to category_path(category) do
            .navmenu-item
              =category.name
    .col-sm-9
      .page_head
        =@category_name
      .items-list
        -if @items.count.zero?
          %center
            .notice-info
              .fas.fa-exclamation-circle
              No items found on this category
        -else
          .row
            -@items.each do |item|
              .col-sm-4
                .item
                  .item-header
                    =item.name
                  .item-photo
                    .fas.fa-images
                    No image
                  .item-price
                    ="$#{item.price}"
                  =link_to orders_path(item_id: item.id), method: 'POST' do
                    .item-button
                      .fas.fa-cart-plus
                      Add to Cart