- title(t('admin.user.titles.index'))

= link_to t('admin.user.roles.admin'), admin_users_path(role: 'admin'),
                                       class: 'btn btn-primary mb-3'
= link_to t('admin.user.roles.standard'), admin_users_path(role: 'standard'),
                                          class: 'btn btn-success mb-3'
.input-group.mt-3
  %input.form-control.admin-searchbar.user-searchbar{ type: 'search', placeholder: t('shared.navbar.search') }
  .search-icon
    %i.fas.fa-search
%hr
.table-responsive#users-management
  = render partial: 'users_list', locals: { users: @users }
